/**
 * @name Material Discord
 * @version 3.0.4
 * @description A theme based on Google's Material Design
 * @author CapnKitten
 *
 * @website http://github.com/CapnKitten
 * @source https://github.com/CapnKitten/BetterDiscord/blob/master/Themes/Material-Discord/css/source.css
 * @donate https://paypal.me/capnkitten
 * @invite jzJkA6Z
 */

@import url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/css/source.css);

:root {
	--accent-hue: 224;
	--accent-saturation: 71%;
	--accent-lightness: 61%;
	--accent-text-color: #fff;
	--accent-button-action: #fff; /*	-	*/

	--avatar-radius: 50%; /*	-	*/

	--message-radius: 19px;
	--message-padding-top: 8px;
	--message-padding-side: 12px; /*	-	*/

	--media-radius: 19px; /*	-	*/

	--card-radius: 8px;
	--card-radius-big: 18px; /*	-	*/

	--popout-radius: 8px;
	--popout-radius-big: 18px;
}
